@charset "utf-8";

/* 앨범 상세페이지 */
@media screen and (max-width: 1080px) {
    .albumlist_wrap {
        padding: 157px 74px 100px !important;
    }
}

@media screen and (max-width: 850px) {
    .albumlist_wrap {
        flex-direction: column;
        padding: 157px 74px 90px !important;
    }
    .contents_left {
        width: 100% !important;
    }
    .contents_right {
        width: 100% !important;
        padding-left: 0 !important;
        text-align: center;
    }
    .album_info {
        padding: 10px;
    }
    .release_date {
        margin-bottom: 40px;
    }
    .album_tit > p, .contents-title {
        font-size: 6vw !important;
    }
}

@media screen and (max-width: 550px) {
    .albumlist_wrap {
        padding: 157px 50px 90px !important;
    }
    .album_tit > p, .contents-title {
        font-size: 7vw !important;
    }
}

/* 앨범 페이지 */
@media screen and (max-width: 1060px) {
    .album_list li {
        width: 47% !important;
    }
}

@media screen and (max-width: 800px) {
    .contents_wrap {
        padding: 40px 50px 25px !important;
    }
}

@media screen and (max-width: 550px) {
    .album_list li {
        width: 100% !important;
    }
    .albumInfo_txt h5 {
        font-size: calc(min(20px, 4vw)) !important;
    }
    .albumInfo_txt h2 {
        font-size: min(24px, 5vw) !important;
    }
}

/* 프로필 페이지 */
@media screen and (max-width: 1000px) {
    .group_intro {
        display: flex !important;
        flex-direction: column;
        padding: 63px 100px 25px !important;
    }
    .group_intro > h2 {
        width: 100% !important;
        padding-right: 0 !important;
        font-size: 4vw !important;
    }
    .intro_title > h2 {
        font-size: 3vw !important;
    }
    .group_intro > p {
        width: 100% !important;
        margin-top: 10px;
    }
    .kv {
        padding: 63px 40px 0 !important;
    }
}

@media screen and (max-width: 770px) {
    .intro_title, .profile_img > * {
        width: 50% !important;
    }
    .intro_title {
        height: 49vw !important;
    }
    #kv_wrap {
        padding: 0 !important;
    }
    .profile_img > li {
        margin-left: 0 !important;
    }
    .intro_title > h2 {
        font-size: 6.8vw !important;
    }
    .kv {
        padding: 63px 25px 0;
    }
    .profile_img li:nth-child(even) {
        margin-right: 50% !important;
    }
    .profile_img li:nth-child(odd):not(li:first-child) {
        margin-left: 50% !important;
    }
    .members_inner {
        padding: 0 !important;
    }
    .group_intro {
        padding: 63px 40px 25px !important;
        margin: 0 0 60px !important;
    }
    .group_intro > h2 {
        font-size: 6.2vw !important;
    }
    .profile_img > * {
        height: auto !important;
    }
    #imbx .imgbx {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .kv {
        padding: 63px 20px 0 !important;
    }
    .group_intro > h2 {
        font-size: 6.8vw !important;
    }
}

/* 비디오 페이지 */
@media screen and (max-width: 1100px) {
    .vid_wrap {
        padding: 63px 80px 25px !important;
    }
    .schbx {
        flex-direction: column;
        padding: 0 !important;
    }
    .listbx {
        margin-left: 0 !important;
    }
    .searching {
        width: 100% !important;
    }
    .mv_date p:nth-child(1) {
        font-size: min(16px, 1.65vw) !important;
    }
    .mv_date p:nth-child(2) {
        font-size: min(15px, 1.4vw) !important;
    }
}

@media screen and (max-width: 800px) {
    #sub_mv .mvbx {
        width: 100% !important;
    }
    .vid_wrap {
        padding: 63px 20px 25px !important;
    }
    .mv_date p:nth-child(1) {
        font-size: min(18px, 2.7vw) !important;
    }
    .mv_date p:nth-child(2) {
        font-size: min(16px, 2.4vw) !important;
    }
}

@media screen and (max-width: 500px) {
    .mv_date p:nth-child(1) {
        font-size: min(18px, 3.8vw) !important;
    }
    .mv_date p:nth-child(2) {
        font-size: min(16px, 3vw) !important;
    }
    .mv_item_tit, .vid_wrap .chkbx h2 {
        font-size: calc(min(24px, 4.8vw)) !important;
    }
    .vid_wrap .chkbx li {
        font-size: calc(min(18px, 3.8vw)) !important;
    }
    .searching input {
        font-size: calc(min(13px, 3vw)) !important;
    }
    #keyword_collection .panels span {
        font-size: calc(min(16px, 3vw)) !important;
    }
    select, input:focus {
        font-size: calc(min(18px, 3vw));
    }
}