@charset "utf-8";

/* 공통모듈 CSS - global.css */
@import url(../css/reset.css);
@import url(../css/core.css);

:root {
    /* 한글 폰트변수 */
    --primary_font: 'Pretendard-Regular';
    /* 대표 색상 */
    --primary_color: #7e00bf;
    /* h태그 폰트크기 */
    --h3_size: 23px;
}

/* 좌측 GNB메뉴 */
header {
    position: fixed;
    width: 100%;
    height: 63px;
    top: 0;
    left: 0;
    line-height: 63px;
    z-index: 9;
    display: flex;
    align-items: center;
    background: #000;
}
.gnb {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}
.gnb .gnb_btn {
    position: relative;
    width: 90px;
    height: 100%;
    background: url(../public/images/btn-gnb.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 9;
}
.logo {
    width: 81px;
    height: 46px;
    margin: 0 auto;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 네비게이션 */
.navInner ul {
    width: 364px;
    margin: 0 auto;
}
.navInner li {
    cursor: pointer;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding: 10px;
    font-family: var(--primary_font);
}
.navMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 22, 22, 0.95);
    display: none;
}
.navMenu > a {
    width: fit-content;
    margin-left: 5px;
    padding: 10px 5px 15px;
    font-family: var(--primary_font);
    font-weight: bold;
    font-size: 18px;
}
.gnb_btn.on {
    background: url(../public/images/btn-gnb_on.png) no-repeat;
}
