@charset "utf-8";

/* 공통모듈 CSS - global.css */
@import url(../css/reset.css);
@import url(../css/core.css);

:root {
    /* 한글 폰트변수 */
    --primary_font: 'Pretendard-Regular';
    /* 대표 색상 */
    --primary_color: #7e00bf;
    /* h태그 폰트크기 */
    --h3_size: 23px;
}

/* 좌측 GNB메뉴 */
header {
    position: fixed;
    width: 220px;
    height: 100%;
    top: 20px;
    padding: 0 16px 0 24px;
    z-index: 999;
    margin-top: 20px;
}
.menuwrap {
    position: absolute;
    top: 80px;
}
.logowrap {
    width: 81px;
    height: 46px;
}
.logowrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 네비게이션 */
.navbar {
    display: flex;
    flex-direction: column;
}
.navbar > a {
    width: fit-content;
    margin-left: 5px;
    padding: 10px 5px 15px;
    font-family: var(--primary_font);
    font-weight: bold;
    font-size: 18px;
}

