@charset "utf-8";

/* 공통모듈 CSS - global.css */
@import url(./css/reset.css);
@import url(./css/core.css);

:root {
    /* 한글 폰트변수 */
    --primary_font: 'Pretendard-Regular';
    /* h태그 폰트크기 */
    --h3_size: 23px;
}

/* 좌측 GNB메뉴 */
header {
    position: fixed;
    width: 220px;
    top: 20px;
    padding: 0 16px 0 24px;
    z-index: 999;
}
.logowrap {
    width: 81px;
    height: 46px;
}
.logowrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 네비게이션 */
.navbar {
    display: flex;
    flex-direction: column;
}
.navbar > a {
    width: fit-content;
    margin-left: 5px;
    padding: 10px 5px 15px;
    font-family: var(--primary_font);
    font-weight: bold;
    font-size: 18px;
}

/* 우측 컨텐츠박스 */
.container {
    position: relative;
    padding-left: 220px;
}
.container_inner {
    padding: 50px 55px;
}
.headline {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* 헤드라인 이미지 */
.img_area {
    height: 334px;
}
/* 헤드라인 텍스트 */
.txt_area {
    position: relative;
    padding: 50px 90px 0 60px;
    background-image: url(../public/images/bg_cover.jpg);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: 50%;
    height: 334px;
}
.txt_area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.40);
}
.area_inner {
    color: #fff;
    position: relative;
    z-index: 9999;
}
.title {
    font-size: 38px;
    line-height: 47px;
    letter-spacing: -.5px;
}
.headline_title {
    font-size: var(--h3_size);
}
.info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 21px;
    /* 텍스트 말줄임 */
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}
.item + .item::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 3px;
    height: 3px;
    margin: 7px 6px 0;
    background-color: hsla(0,0%,100%,.6);
    border-radius: 50%;
}
.sub {
    margin-top: 15px;
}
.icon_header {
    position: relative;
    left: -1px;
    height: 28px;
    display: block;
    margin-bottom: 10px;
}
.play_now_btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: url(../public/images/sp_button.png) no-repeat;
    background-position: -68px -146px;
    width: 54px;
    height: 54px;
}
.artists_bx {
    float: left;
    width: 62.6569%;
    padding: 20px;
}
.artists_bx ul {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.artists_bx li {
    width: 150px;
    cursor: pointer;
}
.artists_bx li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.artists_bx h3 {
    display: inline-block;
}
.artists_bx span {
    float: right;
    font-weight: 600;
    color: #595757;
}
.imgbx .member_name {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
/* 뮤직플레이어 */
.player_inner {
    /* padding: 20px 15px; */
    background: rgb(43 43 43);
    width: 100%;
}
.player_inner * {
    border: 1px solid #fff;
}
.player_inner .p_img {
    height: 160px;
    border-radius: 15px;
}
.player_inner h3 {
    color: #fff;
}
.player_inner .p_depth1 {
    padding: 10% 20%;
}
.player_inner .p_info {
    margin: 30px 0;
    font-size: 28px;
    text-align: center;
    color: #fff;
}
.player_inner .artist {
    font-size: 18px;
}
.player_inner .p_wrap {
    padding: 5% 13%;
}
.player_inner .timer {
    color: #fff;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 14.5px;
}
.material-icons-outlined {
    content: '/e043';
}
.p_control {
    display: flex;
    justify-content: space-between;
}
.p_control button {
    color: #fff;
}
.player_bx {
    float: right;
    width: 37.3431%;
}
#play-pause svg {
    font-size: 60px;
}
.lyrics_info {
    color: #fff;
    text-align: center;
    line-height: 12px;
}
.lyrics_info > p {
    font-size: 13px;
    font-weight: 600;
}
.p_depth3 {
    background-color: #7e00e4;
    border-radius: 5px;
    padding: 20px 50px;
}
.bar {
    position: relative;
}
.pin {
    position: absolute;
    top: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}
.p_progress {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: rgba(255,255,255,0.4);
}