/****** 프로필 페이지 ******/
@import url(./mediaQuery/sub.media.css);

/* kv박스 */
#kv_wrap {
    position: relative;
    background: #111;
}
.kv {
    padding: 63px 180px 0;
}
.kv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 멤버프로필박스 */
.members_inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 60px 40px 25px;
}
.group_intro {
    display: table;
    width: 100%;
    margin: 0 0 30px;
    padding: 63px 180px 25px;
}
.group_intro > h2 {
    color: #fff;
    font-size: 3.2vw;
    display: table-cell;
    width: 40%;
    padding-right: 30px;
    white-space: nowrap;
    font-family: var(--primary_font);
}
.group_intro > p {
    color: #ddd;
    display: table-cell;
    width: 60%;
    font-family: "Pretendard-Regular";
    vertical-align: top;
    line-height: 27px;
    text-align: justify;
}
.profile_img > * {
    float: left;
    width: 25%;
    height: 25vw;
}
.profile_img > li > div {
    display: block;
    width: 100%;
    height: 100%;
}
.profile_img > li:first-child {
    margin-left: 0;
}
.profile_img > li {
    margin-left: 25%;
}
.profile_img li:nth-child(odd) {
    margin-left: 0;
}
.profile_img img {
    width: 100%;
    cursor: pointer;
}
.profile_img img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}
.intro_title {
    width: 25%;
    height: 25vw;
    float: left;
    text-align: center;
    display: table;
    font-size: 1.6vw;
}
.intro_title > h2 {
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    font-family: var(--primary_font);
}
#imbx {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
}
#imbx .imgbx {
    display: flex;
    background: #111;
    color: #fff;
    height: 100%;
}
#imbx .imgbx div {
    flex: 1;
}
#imbx .imgbx .gimgDetail {
    padding: 0 70px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#imbx .imgbx .gimg,
#imbx .imgbx .gimgDetail {
    display: block;
}
#imbx .imgbx .gimg dt,
#imbx .imgbx .gimgDetail dt {
    font-size: calc(min(35px, 8vw));
    margin-bottom: 25px;
    font-weight: 600;
    font-family: var(--primary_font);
    display: inline-block;
}
#imbx .imgbx .gimg dd,
#imbx .imgbx .gimgDetail dd {
    font-size: calc(min(17px, 5vw));
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--primary_font);
    letter-spacing: -0.06em;
    word-spacing: 3px;
}
#imbx .imgbx .close_btn {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 0;
    background: url(../public/images/profile/btn-close.png);
    cursor: pointer;
}
#imbx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****** 앨범 페이지 ******/
.album_list ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
    justify-content: space-between;
}
.album_list li {
    position: relative;
    float: left;
    width: 30%;
    cursor: pointer;
}
.album_list li:hover .albumInfo_box {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.album_list li:hover .albumInfo_box .albumInfo_txt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.album_list li:hover .albumInfo_box .albumInfo_txt h2 {
    vertical-align: middle;
    color: #fff;
    font-family: var(--primary_font);
    text-align: center;
    font-size: min(19px, 3vw);
    margin: 0;
    margin-top: 10px;
}
.album_list li:hover .albumInfo_box .albumInfo_txt h5 {
    vertical-align: middle;
    color: #fff;
    font-family: var(--primary_font);
    text-align: center;
    font-size: calc(min(15px, 3vw));
}
.album_list li img {
    width: 100%;
    height: 100%;
}
.albumInfo_txt {
    display: none;
}

/****** 앨범 페이지 상세 ******/
#albumlist_bx > * {
    top: 10%;
    position: relative;
    animation: fadeUp 0.6s ease-in-out;
}

@keyframes fadeUp {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.albumlist_wrap {
    padding: 157px 180px 131px;
    display: flex;
}
.albumlist_wrap .contents_right {
    position: relative;
    width: 600px;
    padding-left: 3.5vw;
    width: 50%;
}
.albumlist_wrap .contents_right .album_info > p {
    text-align: justify;
    font-family: var(--primary_font);
    line-height: 24px;
}
.album_info span, .list-wrap span {
    font-size: calc(min(16px, 3.8vw));
}
.contents_wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 63px 180px 25px;
    margin: 0 auto;
}
.albumlist_wrap .contents_right .album_tit > p,
.track-list .contents-title {
    font-size: 4vw;
    font-family: var(--primary_font);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
.albumlist_wrap .contents_left {
    position: relative;
    width: 500px;
    height: auto;
    float: left;
    width: 50%;
}
.albumlist_wrap .contents_left .back_btn {
    position: absolute;
    top: -50px;
}
.release_date {
    margin-top: 10px;
    font-family: var(--primary_font);
}
.release_date > p {
    font-size: calc(min(15.5px, 3.8vw));
    color: #000;
}
.track-list {
    text-align: center;
    padding-bottom: 80px;
}
.album_cover > img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
.list-wrap span {
    font-family: var(--primary_font);
}
.list-wrap li + li {
    margin-top: 5px;
}
#sub_mv .mvbx {
    cursor: pointer;
}
.mvbx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****** 비디오 페이지 ******/
.vid_wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 63px 180px 25px;
    margin: 0 auto;
}
.vid_wrap .chkbx {
    position: relative;
    margin-top: 13px;
}
.chkbx ol {
    margin-top: 10px;
}
.vid_wrap .chkbx li {
    padding: 10px 0 0;
    font-size: calc(min(18px, 2.8vw));
}
.vid_wrap .chkbx h2 {
    font-size: calc(min(24px, 3.8vw));
}
.vid_wrap .chkbx li ol > li:last-child {
    margin-top: -10px;
}
.vid_wrap .chkbx li input[type="checkbox"] {
    display: none;
}
.vid_wrap .chkbx li .spbtn {
    display: block;
    float: right;
    margin-right: 5px;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer;
}
.vid_wrap .chkbx li .chklb {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
}
.vid_wrap .chkbx li input:checked + .chklb {
    position: relative;
    background-color: #d7266d;
    text-align: center;
    font-weight: bold;
}
.vid_wrap .chkbx li input:checked + .chklb::before {
    content: "✓";
    position: absolute;
    top: -1px;
    left: 3px;
    color: #fff;
}
.mttit {
    font-size: calc(min(28px, 7vw));
    font-family: var(--primary_font);
    margin-bottom: 30px;
    color: #fff;
}
#sub_mv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
}
.mv_date {
    margin-top: 10px;
}
#sub_mv .mvbx {
    cursor: pointer;
    width: 49%;
}
.mv_date p:nth-child(1) {
    font-weight: 600;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: min(16px, 1.25vw);
    font-family: var(--primary_font);
}
.mv_date p:nth-child(2) {
    text-align: right;
    font-size: min(15px, 1.1vw);
    font-family: var(--primary_font);
}
/* 검색입력창 박스 */
.searching {
    position: relative;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 0 5px;
    background: #fff;
}
.searching svg {
    position: absolute;
    right: 15px;
}
.searching input {
    width: 75%;
    position: absolute;
    font-size: calc(min(13px, 2.6vw));
    left: 15px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: var(--primary_font);
}
.schbtn {
    cursor: pointer;
    margin-top: 9px;
    margin-left: 10px;
}
.restit > * {
    font-family: var(--primary_font);
}
.listbx {
    margin-left: 40px;
    margin-top: 30px;
}
.listbx .sortbx {
    margin-top: 8px;
}
.listbx .restit {
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 1px solid #b1b1b1;
    text-align: center;
}
.listbx .restit .inputVal {
    color: #d7266d;
    margin-right: 5px;
}
.mv_item_tit {
    padding: 20px 0 15px 0;
    font-family: var(--primary_font);
    font-size: calc(min(24px, 3.8vw));
}
/* 아이프레임박스 */
.ifr_bg_bx {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    bottom: 0;
    z-index: 99999;
}
.ifr_bg_bx .vid_ifr_wrap {
    position: absolute;
    top: 50%;
    max-width: 800px;
    width: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    gap: 10px 0;
}
.ifr_bg_bx .vid_ifr_wrap button {
    width: 1.75rem;
    align-self: flex-end;
    height: 1.75rem;
    background-color: inherit;
    cursor: pointer;
    color: #eee;
}
.ifr_bg_bx .vid_ifr_wrap button:hover {
    color: #d7266d;
}
.ifr_bg_bx .vid_ifr_wrap h3 {
    color: #fff;
    text-align: center;
}
.ifr_bg_bx .vid_ifr_wrap .vid_ifr_inner {
    position: relative;
    width: 100%;
    padding-bottom:52.25%
}
.ifr_bg_bx .vid_ifr_wrap .vid_ifr_inner iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}
/* 검색박스 */
.schbx {
    font-family: var(--primary_font);
    display: flex;
    padding: 20px;
}
#keyword_collection {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 45px;
}
#keyword_collection .panels {
    position: relative;
    background: #fff;
    border: 1px solid #111;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    display: none;
}
#keyword_collection .panels li:hover span {
    background: #f3f3f3;
}
#keyword_collection .panels span {
    display: block;
    cursor: pointer;
    padding: 7px;
    font-size: calc(min(16px, 2.6vw));
}
/* 검색옵션박스 */
#search_filter_bx {
    margin-top: 30px;
}
.schopt {
    height: fit-content;
}
